%nav.navigation-bar
  %nav.navigation-bar-content
    .element
      %a.dropdown-toggle{href: "#"} METRO UI CSS
      %ul.dropdown-menu{"data-role" => "dropdown"}
        %li
          %a{href: "#"} Main
        %li
          %a{href: "#"} File Open
        %li.divider
        %li
          %a{href: "#"} Print...
        %li.divider
        %li
          %a{href: "#"} Exit
    %span.element-divider
    %a.element.brand{href: "#"}
      %span.icon-spin
    %a.element.brand{href: "#"}
      %span.icon-printer
    %span.element-divider
    .element.input-element
      %form
        .input-control.text
          %input{placeholder: "Search...", type: "text"}/
          %button.btn-search
    .element.place-right
      %a.dropdown-toggle{href: "#"}
        %span.icon-cog
      %ul.dropdown-menu.place-right{"data-role" => "dropdown"}
        %li
          %a{href: "#"} Products
        %li
          %a{href: "#"} Download
        %li
          %a{href: "#"} Support
        %li
          %a{href: "#"} Buy Now
    %span.element-divider.place-right
    %a.element.place-right{href: "#"}
      %span.icon-locked-2
    %span.element-divider.place-right
    %button.element.image-button.image-left.place-right
      Sergey Pimenov
      %img{src: "images/211858_100001930891748_287895609_q.jpg"}/